html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}
.body {
	background: white;
	margin: 0;
	height: 100%;
}

.main {
	padding: 2rem;
	margin: 2rem;
}

.accordion-button {
	background: $teal;
}
.accordion-body {
	background: $white;
}

.carousel-item {
	height: 32rem;
	background: no-repeat center center scroll;
	background-size: cover;
}
