html {
	box-sizing: border-box;
    
}

*,
*:after,
*:before {
	box-sizing: inherit;
}
.body {
    background: white;
    height: 100%;
    padding: 1rem;
    
}

.main {
	padding: 2rem;
    margin: 2rem;
}

.grid {
	display: grid;
	height: 100vh; // the whole screen
	grid-template-columns: 1.8fr 1fr 1fr 1fr; //4 columns
	grid-template-rows: 3fr 0.2fr 10fr 1.9fr 3fr; // 5 rows
	grid-template-areas:
		"header header header header"
		"main-navbar main-navbar main-navbar main-navbar"
		"sidebar main-content main-content main-content"
		"sidebar main-content main-content main-content"
		"footer footer footer footer";
   
	
	.header {
		grid-area: header;
		background: $purple;
	}
	.main-navbar {
		grid-area: main-navbar;
        
		
	}

	.sidebar {
		grid-area: sidebar;
		background: $white;
		
	}
	.main-content {
		grid-area: main-content;
		background: $orange;
	
	}

	.footer {
		grid-area: footer;
		background: $red;
	}
}


.grid-faq {
	display: grid;
	height: 100vh; // the whole screen
	grid-template-columns: 1.8fr 1fr 1fr 1fr; //4 columns
	grid-template-rows: 3fr 0.2fr 10fr 1.9fr; // 5 rows
	grid-template-areas:
		"header header header header"
		"main-navbar main-navbar main-navbar main-navbar"
		"main-content main-content main-content main-content"
		"main-content main-content main-content main-content";
   
	
	.header {
		grid-area: header;
		background: $purple;
	}
	.main-navbar {
		grid-area: main-navbar;
        
		
	}

	.main-content {
		grid-area: main-content;
		background: white;
	
	}

	.footer {
		grid-area: footer;
		background: $red;
	}
}

.accordion-button {
	background: #e7f1ff;
}
.accordion-body {
	background: $white;

}

//make it responsive
@media only screen and (max-width: 550px) {
	.grid {
		grid-template-columns: 1fr;
		grid-template-rows: 3fr 0.2fr 10fr 1.9fr 3fr; // 5 rows
		grid-template-areas:
			"header"
			"main-navbar"
			"sidebar"
			"main-content"
			"footer";
	}
}