//Colors , fonts & padding variables
$teal: #00A3AD;
$white: #ffffff;
$red: red;
$purple: purple;
$orange: orange;
$blue: blue;
$font-fam: 'Helvetica Neue', helvetica, arial, sans-serif;
$gap: 0.1rem;
$grid-font-weight: 800;
$grid-font-size: 12px;
$grid-item-border-radius: 5px;
$grid-item-padding-top: 5px;
$image-url: '/images/bar-show.jpg';