html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
    padding: 2rem;
   
    
}

.grid {
     
    display: grid;
    height: 100vh; // the whole screen
    grid-template-columns: 1fr 1fr 1fr 1fr; //4 columns
    grid-template-rows:  0.8fr 0.2fr 1.5fr 1.5fr 0.8fr; // 5 rows
    grid-template-areas: 
    "header header header header"
    "navbar navbar navbar navbar"
    "sidebar main-content main-content main-content"
    "sidebar main-content main-content main-content"
    "footer footer footer footer";
    font-family: "Inter", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;

}

.header {
    grid-area: header;
    background: red;
    color: white;
    border-radius: 5px;
    
}

.navbar {
    grid-area: navbar;
    border-radius: 5px;
    padding-top: 5px;
}

.sidebar {
    grid-area: sidebar;
    background: purple;
    color: white;
    border-radius: 5px;
    padding-top: 5px;
}
.main-content {
    grid-area: main-content;
    background: orange;
    color: white;
    border-radius: 5px;
    padding-top: 5px;
}

.footer {
    grid-area: footer;
    background: blue;
    color: white;
    border-radius: 5px;
    padding-top: 5px;
}

//make it responsive in mobile

@media only screen and (max-width: 550px) {
    .grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.4fr 1.2fr 2.2fr 1fr;
      grid-template-areas:
        "header"
        "navbar"
        "sidebar"
        "main-content"
        "footer";
        gap: 0.2rem;
    }
  }
  //The nav would be our flexbox use bem methodology uses flex wrap
.nav {
    background: $teal;
    display: flex;
    justify-content: space-between; // spreading the containers evenly
    align-items: center; // put them on the center
    padding: 2rem 1rem;
    flex-wrap: wrap; // uses this to make the elements wrap into smaller screen sizes
    flex: 1 1 auto;
    border-radius: 5px;
    &-wrap {
        max-width: 1920px;
    }

    &__list {
        padding: 0;
        margin: 0 auto;
        list-style: none;
        text-align: center;
        text-decoration: none;
        text-align: left;
    }
    &__item {
        display: inline-block;
        font-size: 20px;
        font-family: $font-fam;
        margin-right: 2rem;
        &:last-of-type {
            margin: 0;
        }
    }
    &__link {
        color: white;
    } 
}