//** Reference Source Material: https://www.youtube.com/watch?v=FeJEEE3zc4U **/

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	height: auto;
	display: grid;
	place-items: center;
	font-family: 'Arvo', sans-serif;
}
/*************************************************************************************************************************************/


.event {

	width: 350px;
	height: auto;

	&__content {

	position: relative;
	padding: 15rem 5rem;
	text-align: center;
	transition: transform 2.5s;
	transform-style: preserve-3d;/*We want this to rotate independent from the parent to do we go to card content and transform style  preserve 3d*/
	}

	&__title {
		font-size: 3.5rem;
		transform: translateZ(9rem);
		text-transform: uppercase;
	}
	
	&__subtitle {

		text-transform: uppercase;
		letter-spacing: 0.5rem;
		font-size: 1.1rem;
		font-weight: 700;
		transform: translateZ(6rem);
		opacity: .9;
	}

	&__body {
		transform: translateZ(6rem);
		font-weight: 400;
		font-size: 1.1rem;
		line-height: 1.6;
	}
	&__front {
		position: absolute;
		/* Need to have front and back of the card overlap each other ( top of each other for the effect to work )*/
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 2.2rem 2.2rem;
		backface-visibility: hidden;
		/** This comes to play when things are backwords it will hide the back side of the card **/
		transform-style: preserve-3d;
		/** will make the front and back have its own distance from the card **/
		display: grid;
		align-content: center;
		background-color: lightblue;
		background-size: cover;
		background-blend-mode: overlay;
		color: #333;
		animation: pulse 3.5s infinite;

		&::before {
			content: '';
			position: absolute;
			top: 1rem;
			bottom: 1rem;
			left: 1rem;
			right: 1rem;
			border: 2.5px solid currentColor;
			transform: translateZ(3rem);
		}

	}

	&__back {
		position: absolute;
		/* Need to have front and back of the card overlap each other ( top of each other for the effect to work )*/
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 2rem 2rem;
		backface-visibility: hidden;
		/** This comes to play when things are backwords it will hide the back side of the card **/
		transform-style: preserve-3d;
		/** will make the front and back have its own distance from the card **/
		display: grid;
		align-content: center;
		transform: rotateY(.5turn);
		/** will make the card content from the backside to not be backwards **/
		color: #b7c9e5;
		background: #333;
	}

	&:hover &__content {
		transform: rotateY(.5turn);
	}
	&__button {
		background-color: #4CAF50;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		transition-duration: 0.4s;

		&:hover {
			box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
		}
	}
	
}

//Animation
@keyframes pulse {
	0% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}
	70% {
		transform: scale(1.0);
		box-shadow: 0 0 0 30px rgba(255, 82, 82, 0);
	}
	100% {
		transform: scale(0.9);
	}
}

//Icons
.fa-clock {
	color: teal;
}

.fa-map-marker-alt {
	color: teal;
}


