// Colors
$gray: #f6f5f6;
$white: #ffffff;
$black: #000000;
$green: #7acb00;
$pink: #ff0097;
$red: #F1352B;
$orange: #ff6600;
$yellow: #ffb617;
$robins: #01c1d6;
$purple: #6e27c5;
$blue: #150f96;
$clr: #b7c9e5;
$smoke-grey-border: #F5F5F5;
$light-grey-background-info: #F0F0F0;
$grey: grey;
$base-color: #AD141E;
$front-background-color: lightblue;
$front-color: #333;
$back-background-color: #333;
$button-background: #4CAF50;
//Transitions
$level-one-z-translate: translateZ(3rem);
$level-two-z-translate: translateZ(6rem);
$level-three-z-translate: translateZ(9rem);
//Fonts weights
$normal:400;
$bold: 700;
//Variables for the card fonts
$event-title-fontsize: 3.5rem;
$event-subtitle-fontsize: 1.1rem;
$event-subtitle-letter-space: 0.5rem;
$event-body-fontsize: 1.0rem;
$event-card-fontfamily: 'Arvo';
//card rotations:
$card-rotate-y-turn: .5turn;
