@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
:root {
	--level-one: translateZ(3rem);
	--level-two: translateZ(6rem);
	--level-three: translateZ(9rem);
	--fw-normal: 400;
	--fw-bold: 700;
	--clr: #b7c9e5;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}


/* height: 100vh; means the height of this element is equal to 100% of the viewport height.
 example: height: 50vh; If your screen height is 1000px, your element height will be equal to 500px (50% of 1000px). 
 height: calc(100% - 100px); will calculate the size of the element by using the value of the element
 */

body {
	height: 100vh;
	display: grid;
	place-items: center;
	font-family: 'Oswald', sans-serif;
}

.card {
	width: 400px;
}

.card__content {
	text-align: center;
	position: relative;
	padding: 15em 5em;
	transition: transform 3s;
	transform-style: preserve-3d;
	/*We want this to rotate independent from the parent to do we go to card content and transform style  preserve 3d*/
}


/* Adding hover effect to the card parent element, but when we hover on the card we only want to rotate the content not the whole card */

.card:hover .card__content {
	transform: rotateY(.5turn);
}

.card__front,
.card__back {
	position: absolute;
	/* Need to have front and back of the card overlap each other ( top of each other for the effect to work )*/
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 2em 2em;
	backface-visibility: hidden;
	/** This comes to play when things are backwords it will hide the back side of the card **/
	transform-style: preserve-3d;
	/** will make the front and back have its own distance from the card **/
	display: grid;
	align-content: center;
}

.card__front {
	background-color: var(--clr);
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/fair.jpg);
	background-size: cover;
	background-blend-mode: overlay;
	color: #333;
	animation: pulse 3.5s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}
	70% {
		transform: scale(0.91);
		box-shadow: 0 0 0 30px rgba(255, 82, 82, 0);
	}
	100% {
		transform: scale(0.9);
	}
}

.card__front::before {
	content: '';
	position: absolute;
	--spacer: 1em;
	top: var(--spacer);
	bottom: var(--spacer);
	left: var(--spacer);
	right: var(--spacer);
	border: 3px solid currentColor;
	transform: var(--level-one);
}

.card__title {
	font-size: 3.5rem;
	transform: var(--level-three);
	/** this is open possibility due to preserve 3d property **/
	/** pulling the title towards us **/
	order: 2;
	text-transform: uppercase;
}

.card__subtitle {
	transform: var(--level-two);
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 1rem;
	font-weight: var(--fw-bold);
	opacity: .9;
}

.card__body {
	transform: var(--level-two);
	font-weight: var(fw-normal);
	font-size: 1rem;
	line-height: 1.6;
}

.fa-clock {
	color: teal;
}

.fa-map-marker-alt {
	color: teal;
}

.card__back {
	transform: rotateY(.5turn);
	/** will make the card content from the backside to not be backwards **/
	color: var(--clr);
	background: #333;
}

.card__button {
	background-color: #4CAF50;
	/* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	transition-duration: 0.4s;
}

.card__button:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}