html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

.main {
	padding: 2rem;
}

.container {
	border-radius: 5px;
	border: 30px solid $smoke-border;
	max-width: 100%;
	height: auto;
	overflow: hidden;


	.employee-card-left {
		float: left;
		width: 18.75rem;
		padding: 3rem;
		margin: 1rem;
		height: auto;
		
		.employee-card__image {
			border-radius: 50%;
			height: auto;
			width: 30%;

			&:hover {
				.employee-card__image {
					width: 50%;
				}
			}
		}

		.employee-card__name {
			text-align: center;
			font-family: $employee-card-fontfamily;
			color: $grey;
			font-size: $employee-name-fontsize;
				
		}

		.employee-card__position {
			text-align: center;
			font-family: $employee-card-fontfamily;
			color: $grey;
			font-style: $italic-font;
			font-size: $employee-position-fontsize;
		}
	}

	.employee-card-right {
		float: left;
		height: auto;
		width: 28rem;
		padding: 3rem;
		margin-top: 2rem;
		background-color: $light-grey-background-info;

		.employee-card__info {
			font-size: $employee-info-fontsize;
			font-family: $employee-card-fontfamily;
		}
	}
}
