html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

.main {
	padding: 2rem;
}

.container {
	border-radius: 5px;
	border: 30px solid #F5F5F5;
	max-width: 100%;
	height: auto;
	overflow: hidden;
}

.employee-card-left {
	float: left;
	width: 18.75rem;
	padding: 3rem;
	margin: 1.0rem;
	height: auto;
}

.employee-card-right {
	float: left;
	height: auto;
	width: 28rem;
	padding: 3rem;
	margin-top: 2rem;
	background-color: #F0F0F0;
}

.employee-card-image {
	border-radius: 50%;
	height: auto;
	width: 30%;
}

.employee-card-info {
	font-size: 0.95rem;
	font-family: 'Arvo', serif;
}

.employee-card-name {
	text-align: center;
	font-family: arial;
	color: grey;
	font-size: 1.4rem;
}

.employee-card-position {
	text-align: center;
	font-family: 'Arvo', serif;
	color: grey;
	font-style: italic;
	font-size: 1.1rem;
}